#main {
  header {
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .banner {
    border: 2px solid yellow;
  }

  .footer {
    bottom: 0;
  }
}
