img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.main {
  &__imgs {
    border: 1px solid red;
  }
  &__img {    
    &--center {
      border: 1px solid green;
      position: absolute;
      max-width: 476px;
      height: 702px;
      left: 50%;
      margin-left: -238px;
      top: 73.89px;
      transform: rotate(1.5deg);

      #center {
        position: relative;
        height: 100%;
        object-fit: cover;
        left: 0%;
      }

      #left {
        position: absolute;
        max-width: 238px;
        height: 331px;
        left: -55%;
        top: 14%;
        transform: rotate(1.1deg);  
        overflow: hidden;

        img {
          position: relative;
          width: 200%;
          height: auto;
          overflow: hidden;
          left: -47%;
          top: -15%;
        }
      }

      #right {
        position: absolute;
        max-width: 345px;
        height: 238px;
        bottom: 55px;
        left: 399px;
        transform: rotate(2.03deg);
      }
    }
  }
}

@media (max-width: 1220px) {
  .main {
    &__img {
      &--center {
          width: 359px;
          height: 530px;
          left: 50%;
          margin-left: -179.5px;
          top: 73.89px;

        #left {
          width: 163px;
          height: 226px;
          left: -48%;
          top: 20%;
        }

        #right {
          width: 234px;
          height: 162px;
          bottom: 50px;
          left: 320px;
        }
      }
    }
  }
}

// fix below

@media (max-width: 890px) {
  .main {
    &__img {
      &--center {
        top: 20%;
        left: 28%;
      }
    }
  }
}

@media (max-width: 760px) {
  .main {
    &__img {
      &--center {
        left: 23%;

        #left {
          display: none;
        }
  
        #right {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 597px) {
  .main {
    &__img {
      &--center {
        width: 273px;
        height: 403px;
        left: 14%;
      }
    }
  }
}